rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // unauthenticated user can read and write so import can verify the ID exists
    match /users/{userId} {
      allow get, create: if true;

      // authenticated user can read, write and delete solves
      match /solves/{solveId} {
        allow get, list, create, delete: if true;
      }
    }
  }
}
